body {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: 35px;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

.main {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(76, 76, 76);
    padding: 15px;
    border-radius: 20px;


}

.main {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-end;
}

.main img {
    width: 200px;
    height: 250px;
    object-fit: contain;
}



#axe {
    width: 100%;
    max-width: 400px;
}

#scythe {
    width: 260px;
    max-width: 400px;
}

#darkness {
    border-radius: 20px;
}

#memoryRecovery {
    font-size: 28px;       
    padding: 20px 40px;   
    border-radius: 15px;  
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
